 
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 230, 179);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
 

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    
    border-radius: 400px;
    padding: 0px;
    width: 790px;
    height: 55px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.50);
} 

.search-item {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 16px;
    
    border-radius: 400px;
    margin-bottom: -7px;

    
}

.search-item:hover {
    
    background-color: #555;
 
}
.search-item:hover + .divider {
  background-color: white;
}
 
 
.extraCSS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 31px;

}


.search-item label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

.search-item input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #555;
}
.search-item input:hover {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #555;
}


.divider {
    width: 1px;
    height: 40px;
    background-color: #ddd;
}




.search-btn{
    background-color: #ff385c;
    border: none;
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 18px;
    cursor:pointer;
    margin-left: 30px;
 
    margin-right: -10px;
    margin-bottom: 6px;
}

.search-btn:hover{
    background-color: #e11d48;
}



.search-item {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  width: 250px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  padding: 10px;
  display: none;
  z-index: 10;
}

.dropdown p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f5f5f5;
  border-radius: 8px;
}

 