*{
    margin: 0px;
    padding: 0;


}

p{
    font-size: 20px;
    background-color: red;
    border: 5px solid black;
    margin: 0;
    padding:0;
    width: 50%;
    align-items: center;
}

.first{
    margin: 4px;
    padding: 300px;
    border: 5px solid black;
    height: 100%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: center; */
}