html{
    font-size: 16px
}

body{
    width: 100vw;
}

body{
    min-height: 100vh;
}
header{
    width: 50%;
    font-size: 64px;
}


h1{
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}



main{
    font-size: 2rem;
}


p {
    font-size: 1em;
}